# Python bytecode
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Airflow runtime files
logs/
*.log
config/airflow.cfg
airflow.db
airflow-webserver.pid

# Ignored __pycache__ folders inside subdirectories
dags/__pycache__/
plugins/__pycache__/
# Secrets and sensitive config
.env
environment_variables.json

# MongoDB analysis output files
mongodb_scripts/output/

# macOS system file
.DS_Store

airflow_backup.sql
*.sql

# Neo4j scripts
neo4j_scripts/.env
neo4j_scripts/venv/
neo4j_scripts/__pycache__/
neo4j_scripts/*.pyc
neo4j_scripts/*.log
neo4j_scripts/*.tmp
neo4j_scripts/.DS_Store