# Python bytecode
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Airflow runtime files
logs/
*.log
config/airflow.cfg
airflow.db
airflow-webserver.pid

# Ignored __pycache__ folders inside subdirectories
dags/__pycache__/
plugins/__pycache__/

# Virtual environment
.venv/

# Secrets and sensitive config
.env
environment_variables.json


# macOS system file
.DS_Store

airflow_backup.sql
*.sql


#OpenAI Batch files
data/tmp_openai_batches/



